.techfont{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    }
.bigbrand{
    font-size: 1.8em;
    }
.centerstage{
    margin-left: auto;
    margin-rigt: auto;
    }
